/* BASE STYLES
============== */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  min-height: 600px;
  font-family: 'Montserrat', Century Gothic, Helvetica, sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 28px;
}

h1 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  color: black;
  margin-bottom: 0px;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 30px;
  }
}

h1.hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
}

.reverse h1, .reverse p {
  color: white;
}

h2 {
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  color: black;
  margin-top: 0px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reverse h2 {
  color: white;
  text-shadow: 0px 0px 3px #fff;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  color: #353535;
  margin-top: 0px;
}

.bold {
  font-weight: 500;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #e1e1e1;
  -moz-box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 40%);
  -webkit-box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 40%);
  box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 40%);
}

.lt-bg {
  border-top: solid 8px #c3c5ca;
  border-bottom: solid 8px #c3c5ca;
  -moz-box-shadow: 0px 0px 12px 6px rgb(0 0 0 / 20%);
  -webkit-box-shadow: 0px 0px 12px 6px rgb(0 0 0 / 20%);
  box-shadow: 0px 0px 12px 6px rgb(0 0 0 / 20%);
  background: white;
}

.header+.lt-bg {
  border-top: none;
}

.lt-bg+.lt-bg {
  border-top: 0;
  box-shadow: none;
}

.blue-bg {
  background: #485571;
}

.blue-bg--gradient {
  background: radial-gradient(circle at top, rgba(145, 152, 167, 1) 0%, rgba(72, 85, 113, 1) 80%);
}

.dk-blue-bg {
  background: #292f42;
}

.darkest-blue-bg--gradient {
  background: radial-gradient(circle at bottom, rgba(57, 61, 72, 1) 0%, rgba(32, 37, 51, 1) 90%);
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

@media only screen and (max-width: 480px) {
  .anchor {
    top: -60px;
  }
}

.reverse a {
  font-size: 14px;
  color: #fff;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
  background-position: 0 100%;
  background-size: 100% 200%;
  transition: all .2s;
  padding: 6px 12px;
  display: inline-block;
  line-height: 2;
}

.reverse a:hover, .reverse a:focus {
  background-position: 0 0;
  text-decoration: none;
}

.reverse a+a {
  display: inline-block;
  margin-top: 16px;
}

@media only screen and (max-width: 480px) {
  .reverse a {
    display: block;
    line-height: 1.5;
  }
}

p+img {
  margin-top: 20px;
}

.reverse .card a {
  text-decoration: none;
  border: solid 1px;
  margin: 20px 8px 0;
}

.reverse .card a:hover, .reverse .card a:focus {
  border-color: transparent;
}
