/* SECTION FUN FACTS
==================== */

.fun-facts {
  background: #485571;
  padding-bottom: 28px;
}

.fun-facts .container {
  padding-top: 80px;
}

.fun-facts h1 {
  margin-bottom: 100px;
}

.fun-facts .item {
  background: rgba(43, 51, 73, .75);
  padding: 0px 40px 16px 40px;
  max-width: 600px;
  margin: 0 auto 80px auto;
  text-align: center;
  position: relative;
  z-index: 5;
}

.fun-facts img {
  margin-top: -50px;
  max-width: 100px;
  margin-bottom: 20px;
}
