/* SECTION FEATURED
=================== */
.featured {
  background: #292f42;
  padding-top: 40px;
}

.featured .container {
  min-height: 500px;
  margin-top: -180px;
  padding-bottom: 52px;
}

.featured .item {
  max-width: 720px;
  margin: 50px auto;
  line-height: 0;
  filter: drop-shadow(0px 0px 6px rgb(0 0 0 / .20));
  position: relative;
  z-index: 1;
  margin-top: 60px;
}

.featured img {
  border: solid 10px white;
  max-width: calc(100% - 20px);
}

h2.project-name span {
    background: #dfbb3f;
    z-index: 5;
    padding: 12px 14px;
    position: relative;
    top: 10px;
    font-size: 16px;
    color: black;
    text-shadow: none;
}

@media only screen and (max-width: 480px) {
  h2.project-name span {
    display: block;
    line-height: 1.5;
  }
}

.card-body {
    padding: 40px;
}

@media only screen and (max-width: 480px) {
  .card-body {
      padding: 20px;
  }
}

.card-body p {
    color: white;
    text-align: left;
}
.card-body p:last-child {
    margin-bottom: 0;
}

.card-body p span {
    font-weight: 600;
    text-transform: uppercase;
}

.card-body p.center {
    text-align: center;
}

.card-body p.center a {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-position: 0 100%;
    background-size: 100% 200%;
    transition: all .2s;
    padding: 10px 12px;
}

.card-body p.center a:hover,
.card-body p.center a:focus {
    background-position: 0 0;
    text-decoration: none;
}

.card.project-details {
    border: solid 1px #dfbb3f;
    padding-top: 25px;
    background: rgba(72,85,113,1);
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    filter: drop-shadow(0px 0px 5px rgb(0 0 0 / .35));
}
