/* SECTION FUN FACTS
==================== */

.fun-facts {
  background: radial-gradient(circle at top, rgba(130,91,150,1) 0%, rgba(91,55,109,1) 80%);
  margin-top: 80px;
}

.fun-facts:before {
  width: 100%;
  height: 120px;
  content: " ";
  position: absolute;
  background: url(../images/bg-sec3-bottom-portfolio.png) center center no-repeat;
}

.fun-facts .container {
  padding-top: 80px;
}

.fun-facts h1 {
  margin-bottom: 100px;
}

.fun-facts .item {
  background: rgba(38, 22, 47, .5);
  padding: 0px 40px 16px 40px;
  max-width: 600px;
  margin: 0 auto 80px auto;
  text-align: center;
  position: relative;
  z-index: 5;
}

.fun-facts img {
  margin-top: -50px;
  max-width: 100px;
  margin-bottom: 20px;
}
