/* SECTION PORTFOLIO
==================== */

.portfolio {
  border-top: solid 8px #c3c5ca;
  margin-top: -140px;
  background: white;
  border-bottom: solid 8px #c3c5ca;
  padding-bottom: 80px;
}

.portfolio .container {
  padding-top: 80px;
}

.portfolio h1 {
    margin-top: 140px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(586px, 1fr));
  grid-gap: 28px;
  margin-top: 40px;
}

@media only screen and (max-width: 760px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px;
  }
}

.gallery .item {
  max-width: 720px;
  margin: 0 auto;
}

.gallery .item:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 16px;
  width: calc(100% - 33px);
  height: calc(100% - 31px);
  border: 1px solid #dfbb3f;
}

.title-plate {
  background: #dfbb3f;
  width: fit-content;
  margin: 0 auto;
  z-index: 5;
  position: relative;
  margin-top: -26px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
}

.reverse .title-plate {
  color: black;
}

.gallery .title-plate {
    margin-top: -34px;
    top: -14px;
}

@media only screen and (max-width: 360px) {
  .gallery .title-plate {
      margin-top: 0px;
      top: -4px;
      width: 100%;
      padding: 0;
  }
}
