/* SECTION INTRO
================= */
.home .section-intro .container {
    padding-top: 100px;
}

.section-intro .container {
  max-width: 860px;
  text-align: center;
}

.section-intro h1 {
  margin-bottom: 60px;
}

.section-intro h1.hidden {
    margin-bottom: 0;
}

.section-intro h1 span {
    display: block;
    font-size: 70%;
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.call-out {
    margin-bottom: 120px;
}

p.call-out {
  font-size: 26px;
  color: #485571;
  line-height: 1.75;
  margin-top: 40px;
}

p.call-out span {
    font-weight: 500;
    color: #2b3349;
}

@media only screen and (max-width: 480px) {
  p.call-out {
    font-size: 21px;
  }
}

.section-intro h1.call-out {
    margin-bottom: 140px;
}
