/* SECTION FEATURED
=================== */

.section-featured {
  padding-top: 40px;
}

.section-featured .container {
  min-height: 500px;
  margin-top: -180px;
}

.section-featured .card {
  max-width: 960px;
  margin: 50px auto;
  position: relative;
  z-index: 1;
  margin-top: 60px;
}

img.featured {
  border: solid 10px white;
  max-width: calc(100% - 20px);
  filter: drop-shadow(0px 0px 6px rgb(0 0 0 / .20));
}

h2.project-name {
  margin-bottom: 0;
}

h2.project-name span {
  background: #dfbb3f;
  z-index: 5;
  padding: 12px 14px;
  position: relative;
  top: 12px;
font-size: 20px;
  color: black;
  text-shadow: none;
  text-transform: initial;
}

@media only screen and (max-width: 480px) {
  h2.project-name span {
    display: block;
    line-height: 1.5;
  }
}

.card-body {
  padding: 40px;
}

@media only screen and (max-width: 480px) {
  .card-body {
    padding: 20px;
  }
}

.card-body p {
  color: white;
  text-align: left;
}

.card-body p:last-child {
  margin-bottom: 0;
}

.card-body p span {
  font-weight: 600;
  text-transform: uppercase;
}

.card-body p.center {
  text-align: center;
}

.card.featured-img {
  margin-bottom: 0;
}

.card.featured-details {
  background: rgba(72, 85, 113, 1);
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0px 0px 5px rgb(0 0 0 / .35));
}

.card.featured-details + .card.featured-img {
    margin-top: 100px;
}
