/* SECTION INTRO
================= */

.intro .container {
  max-width: 960px;
  text-align: center;
  margin-top: 60px;
}

.intro {
  border-bottom: solid 8px #c3c5ca;
  box-shadow: 0px 0px 12px 6px rgb(0 0 0 / 20%);
  }

.call-out {
    margin-bottom: 120px;
}

p.call-out {
  font-size: 26px;
  color: #485571;
  line-height: 1.75;
  margin-top: 40px;
}

p.call-out span {
    font-weight: 500;
    color: #2b3349;
}

@media only screen and (max-width: 480px) {
  p.call-out {
    font-size: 21px;
  }
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  border-top: solid 3px #dfbb3f;
}
.nav li {
  display: inline-block;
  background-color: #e1e1e1;
  margin: 0 6px;
}

.nav>li>a {
  background-image: linear-gradient(to bottom, rgba(223, 187, 63, 1), rgba(223, 187, 63, 1) 50%, transparent 50%, transparent);
  background-position: 0 100%;
  background-size: 100% 200%;
  transition: all .2s;
  padding: 16px 12px;
  width: 140px;
  display: block;
  color: #2b3349;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-position: 0 0;
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 560px) {
    .nav>li>a {
        width: auto;
    }

}

.button.menu {
    width: 100%;
    border: none;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    border-top: solid 3px rgba(223, 187, 63, 1);
    display: none;
    outline: none;
    cursor: pointer;
    height: 45px;
    background-image: linear-gradient(to bottom, rgba(57, 61, 72, 1), rgba(57, 61, 72, 1) 50%, transparent 50%, transparent);
    background-position: 0 100%;
    background-size: 100% 200%;
    transition: all .2s;
}

.button.menu:hover,
.button.menu:focus,
.button.menu:active {
  background-position: 0 0;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 400px) {
  #navbar {
    display:none;
    border-top: none;
  }
  .button.menu {
    display: block;
  }
  .nav li {
    display: block;
    margin: 0;
  }
}
