h1 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  color: black;
  margin-bottom: 0px;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
}

h1.hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
}

.reverse h1, .reverse p {
  color: white;
}

.call-out + h1 {
  margin-top: 80px;
}

h2 {
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  color: black;
  margin-top: 0px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.reverse h2 {
  color: white;
  text-shadow: 0px 0px 3px #fff;
}

h2.project-name span {
    background: #353535;
    z-index: 5;
    padding: 12px 14px;
    position: relative;
    top: 10px;
    font-size: 14px;
    color: white;
}

.bold {
  font-weight: 500;
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  color: #353535;
  margin-top: 0px;
}

p.call-out {
  font-size: 26px;
  color: #4c2c5c;
  line-height: 1.75;
  margin-top: 40px;
}

p.call-out span {
    font-weight: 500;
    color: black;
}

@media only screen and (max-width: 480px) {
  p.call-out {
    font-size: 21px;
  }
  footer p {
    font-size: 12px;
    line-height: 1.5;
  }
}
