/* /////////////// main layout divs /////////////// */

#mainWrap {
	width: 530px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	height: auto;
}

#logo {
	width: 530px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #FFF;
	padding: 15px 0px 15px 0px;
}

#content {
	width: 474px;
	text-align: left;
	height: auto;
	border:2px solid #ebebeb;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 26px;
}

.divider {
	border-top: 1px solid #e7e7e7;
	text-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-bottom:26px;	
}

.divider2 {
	border-top: 1px solid #e7e7e7;
	text-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-bottom:12px;	
}

img {
border: 0px;
}

img.th_margin {
margin-right:13px;
}

/* ///////////// text styles ////////////// */

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

p {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	color:#767676;
	margin-top:0px;
}

h1 {
	font-family: 'Raleway', Century Gothic, Helvetica,  sans-serif;
    font-weight: 500; 
	font-size: 30px;
	text-align: left;
	color: rgba(170,78,215, 0.80);
    text-shadow: 1px 1px 3px #def, 0 0 0 #000, 1px 1px 3px #fff;
	margin-bottom: 0px;
}

.blue {
	color: rgba(21,187,223, 0.80);	
}

.green {
	color: rgba(173,225,92, 0.80);	
}

h2 {
	font-family: 'Raleway', Century Gothic, Helvetica,  sans-serif;
    font-weight: 500; 
	font-size: 30px;
	text-align: center;
	color: rgba(170,78,215, 0.80);
    text-shadow: 1px 1px 3px #def, 0 0 0 #000, 1px 1px 3px #fff;
	margin-top: 0px;
	margin-bottom: 10px;
}

.footer {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 12px;
	text-align: center;
	color:#bbbbbb;
	margin-top:18px;
	margin-bottom:18px;
}

.captionPurple {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 12px;
	text-align: left;
	color:#ffffff;
	padding: 8px;
	display:block;
	background-color:#aa4ed7;
}

.captionGreen {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 12px;
	text-align: left;
	color:#ffffff;
	padding: 8px;
	display:block;
	background-color:#ade15c;
}

.captionBlue {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 12px;
	text-align: left;
	color:#ffffff;
	padding: 8px;
	display:block;
	background-color:#15bbdf;
}

.captionSumm {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 12px;
	text-align: left;
	color:#767676;
	padding: 8px;
	display:block;
	background-color:#f2f2f2;
}

.bold {
    font-weight: 500;
}

#portNav {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#bbbbbb;
	margin-top:0px;
	margin-bottom:26px;
	
}

.brandNav {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 12px;
	text-align: center;
	text-transform:uppercase;
	color:#5a5a5a;
	margin-top:0px;
	margin-bottom:26px;
	
}
.brandNav a:link {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 12px;
	text-align: center;
	text-transform:uppercase;
	color:#5a5a5a;
	text-decoration:none;
}

.brandNav a:visited {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 12px;
	text-align: center;
	text-transform:uppercase;
	color:#5a5a5a;
}

.brandNav a:active {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 12px;
	text-align: center;
	text-transform:uppercase;
	color:#5a5a5a;
	text-decoration:none;
}

.brandNav a:hover {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 500; 
	font-size: 12px;
	text-align: center;
	text-transform:uppercase;
	color:#000000;
}

a:link {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#bbbbbb;
	text-decoration:none;
}

a:visited {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#15bbdf;
}

a:active {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#bbbbbb;
	text-decoration:none;
}

a:hover {
	font-family: 'Raleway', Century Gothic, Helvetica, sans-serif;
    font-weight: 500; 
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#aa4ed7;
}

.margin {
	margin-top:30px;	
}

.marginthumb {
	margin-top:12px;	
}

/* ////////////// images ///////////////// */

#web_NARI a {
	text-indent: -9999em;
	background: url('../images/portfolio/web_NARI.jpg') no-repeat;
	background-position: center top;
	width: 474px;
	height: 300px;
	display: block;
	overflow: hidden; /* For nested divs in Safari */
	}

/*  IE 5 hack \*/
#web_NARI a {overflow: hidden;}
/* end hack */ 
	
#web_NARI a:hover {
	background-position: center bottom;
}

/* /////////////main content formatting////////////// */



