/* /////////////// main layout divs /////////////// */

#mainWrap {
	width: 530px;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFF;
	height: auto;
}

#logo {
	width: 530px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #FFF;
	padding: 15px 0px 15px 0px;
}

#content {
	width: 474px;
	text-align: left;
	height: auto;
	border:2px solid #ebebeb;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 26px;
}

.divider {
	border-top: 1px solid #e7e7e7;
	text-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-bottom:26px;	
}

.divider2 {
	border-top: 1px solid #e7e7e7;
	text-align: left;
	vertical-align: top;
	margin-top: 0px;
	margin-bottom:14px;	
}

img {
border: 0px;
}

img.th_margin {
margin-right:13px;
}

/* ///////////// text styles ////////////// */

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

p {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	color:#767676;
	margin-top:0px;
}

h1 {
	font-family: 'Raleway', Helvetica,  sans-serif;
    font-weight: 600; 
	font-size: 30px;
	text-align: left;
	color: rgba(170,78,215, 0.80);
    text-shadow: 1px 1px 3px #ccc, 0 0 0 #000, 1px 1px 3px #fff;
	margin-bottom: 0px;
}

.blue {
	color: rgba(21,187,223, 0.80);	
}

.green {
	color: rgba(173,225,92, 0.80);	
}

h2 {
	font-family: 'Raleway', Helvetica,  sans-serif;
    font-weight: 600; 
	font-size: 30px;
	text-align: center;
	color: rgba(170,78,215, 0.80);
    text-shadow: 1px 1px 3px #ccc, 0 0 0 #000, 1px 1px 3px #fff;
	margin-top: 0px;
	margin-bottom: 10px;
}

.footer {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: center;
	color:#bbbbbb;
	margin-top:18px;
	margin-bottom:18px;
}

.captionPurple {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: left;
	color:#ffffff;
	padding: 10px;
	display:block;
	background-color:#aa4ed7;
}

.captionGreen {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: left;
	color:#ffffff;
	padding: 10px;
	display:block;
	background-color:#ade15c;
}

.captionBlue {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: left;
	color:#ffffff;
	padding: 10px;
	display:block;
	background-color:#15bbdf;
}

.captionSumm {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: left;
	color:#767676;
	padding: 10px;
	display:block;
	background-color:#f2f2f2;
}

.bold {
    font-weight: 600;
}

.center {
	text-align:center;
}

#portNav {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#bbbbbb;
	margin-top:0px;
	margin-bottom:26px;
	
}

.brandNav {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#5a5a5a;
	margin-top:0px;
	margin-bottom:26px;
	
}
.brandNav a:link {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#5a5a5a;
	text-decoration:none;
}

.brandNav a:visited {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#5a5a5a;
}

.brandNav a:active {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#5a5a5a;
	text-decoration:none;
}

.brandNav a:hover {
	font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 600; 
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#000000;
}

a:link {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#bbbbbb;
	text-decoration:none;
}

a:visited {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#15bbdf;
}

a:active {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-weight:300;
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#bbbbbb;
	text-decoration:none;
}

a:hover {
	font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 600; 
	font-size: 14px;
	text-align: center;
	text-transform:uppercase;
	color:#aa4ed7;
}

.margin {
	margin-top:30px;	
}

.marginthumb {
	margin-top:12px;	
}

/* ////////////// images ///////////////// */



/* ///////////// form ////////////// */

label {
	font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 600; 
	font-size: 14px;
	color:#767676;
    display:block;
    margin-top:20px;
}

form {
    margin:0 auto;
    width:469px;
}

/* Style the text boxes */
input, textarea {
	font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 300; 
	font-size: 14px;
	width:449px;
	height:20px;
	background:#efefef;
	border:0px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:14px;
	color:#3a3a3a;
}

textarea {
	height:100px;
}

input:focus, textarea:focus {
    border:1px solid #666;
}

#submit {
    width:160px;
    height:60px;
    background: transparent url('../images/btnBlue.gif') no-repeat 0 0;
    border:none;
    margin-top:15px;
	margin-left:160px;
    cursor:pointer;
	text-transform:uppercase;
	color:#ffffff;
}

	#submit:hover {
	font-weight: 600; 
	background-position: /*bottom right*/0 -60px;
	text-shadow: 1px 1px 2px #595959; 
    outline: none; /* hide dotted outline in Firefox */
	}