/* CSS Document */

#topNav {
	width: 530px;
	height: 60px;
	margin-left:25px;
	margin-bottom:15px;
}

a.navPurple {
    color: #ffffff;
    display: block;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300; 
	font-size: 18px;
    height: 60px;
    text-decoration: none;
	width: 160px;
	text-align:center;
}

a.navPurple span {
    background: transparent url('../images/btnPurple.gif') no-repeat 0 0;
    display: block;
    line-height: 60px;
    padding: 0px 0 0px 0px;
}
a.navPurple:hover {
    background-position: /*bottom right*/0 -60px;
    color: #fff;
	font-weight: 500; 
	text-shadow: 1px 1px 2px #595959; 
    outline: none; /* hide dotted outline in Firefox */
}

#navPurpleSelected {
    background-position: 0 -60px;
    color: #fff;
	font-weight: 500; 
	text-shadow: 1px 1px 2px #595959; 
    outline: none; /* hide dotted outline in Firefox */
}

a.navPurple:hover span {
    background-position: 0 -60px;
}

a.navPurple:active span {
	background-position: 0 -60px;
}

a.navGreen {
    color: #ffffff;
    display: block;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300; 
	font-size: 18px;
    height: 60px;
    text-decoration: none;
	width: 160px;
	text-align:center;
}

a.navGreen span {
    background: transparent url('../images/btnGreen.gif') no-repeat 0 0;
    display: block;
    line-height: 60px;
    padding: 0px 0 0px 0px;
}
a.navGreen:hover {
    background-position: /*bottom right*/0 -60px;
    color: #fff;
	font-weight: 500; 
	text-shadow: 1px 1px 2px #595959; 
    outline: none; /* hide dotted outline in Firefox */
}

#navGreenSelected {
    background-position: 0 -60px;
    color: #fff;
	font-weight: 500; 
	text-shadow: 1px 1px 2px #595959; 
    outline: none; /* hide dotted outline in Firefox */
}

a.navGreen:hover span {
    background-position: 0 -60px;
}

a.navGreen:active span {
	background-position: 0 -60px;
}

a.navBlue {
    color: #ffffff;
    display: block;
    float: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 300; 
	font-size: 18px;
    height: 60px;
    text-decoration: none;
	width: 160px;
	text-align:center;
}

a.navBlue span {
    background: transparent url('../images/btnBlue.gif') no-repeat 0 0;
    display: block;
    line-height: 60px;
    padding: 0px 0 0px 0px;
}
a.navBlue:hover {
    background-position: /*bottom right*/0 -60px;
    color: #fff;
	font-weight: 500; 
	text-shadow: 1px 1px 2px #595959; 
    outline: none; /* hide dotted outline in Firefox */
}

#navBlueSelected {
    background-position: 0 -60px;
    color: #fff;
	font-weight: 500; 
	text-shadow: 1px 1px 2px #595959; 
    outline: none; /* hide dotted outline in Firefox */
}

a.navBlue:hover span {
    background-position: 0 -60px;
}

a.navBlue:active span {
	background-position: 0 -60px;
}
